<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="/css/Images/acebookFavicon.png"
    /> -->
    <title>Confluence Labeller</title>
  </head>
  <body>
    <h1>Confluence Labeller</h1>
    <p>
      <i>
        How to use: Follow the link below to check out the Confluence page, then
        come back here and help us label it! When you press submit, this will be
        written to a Mongo instance, and the same page will not come up again
        for anyone else - so please try to be accurate ;)
      </i>
    </p>
    <%- body %>
  </body>
</html>
